@{
  var searchQuery = Context.Request.Query["q"];
  var isSearchPage = Context.Request.Path.StartsWithSegments("/products/search");
}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - HtmxEcomSample</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

  </head>
  <body hx-boost="true">
    <header>
      <nav
        class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
      >
        <div class="container-fluid">
          <a
            class="navbar-brand"
            asp-area=""
            asp-controller="Home"
            asp-action="Index">HtmxEcomSample</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target=".navbar-collapse"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div
            class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
          >
              <vc:user-summary></vc:user-summary>
          </div>
          <form method="get" action="/products/search" class="d-flex">
            <input 
              name="q"
              value="@(isSearchPage ? searchQuery : "")"
              hx-trigger="keyup changed delay:500ms, search" 
              hx-target="#main" 
              hx-get="/products/search" 
              class="form-control me-2" 
              type="search" 
              placeholder="Search" 
              aria-label="Search">
          </form>
        </div>
      </nav>
    </header>
    <div class="container">
      <main id="main" role="main" class="pb-3">@RenderBody()</main>
    </div>

    <footer class="border-top footer text-muted">
      <div class="container">
        &copy; 2023 - HtmxEcomSample
      </div>
    </footer>
    <script src="https://unpkg.com/htmx.org@1.9.3"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
  </body>
</html>

