@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    @foreach (var product in Ecommerce.Catalog.Products())
    {
        @await Html.PartialAsync("ProductCard", product) 
    }
</div>