@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    @foreach (var product in Ecommerce.Catalog.Products()) {
        @await Html.PartialAsync("Components/ProductCard", product)
    }
</div>